@import '../styles/colors.less';

@blueish: #C6E5EE;

.meme-panel__modal {
  position: fixed;
  z-index: 53;
  display: flex;
  padding: 0;
  background-color: @white;
  min-width: 80%;
  max-width: 100%;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  align-content: center;
  max-height: 80vh;
  overflow: hidden;
  border: @border;
  border-radius: 2px;
  @media screen and (max-width: 600px) {
    width: 98%;

  }
}

.meme-panel {
  display: flex;
  background-color: @blueish;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  box-sizing: border-box;
  overflow: auto;
  border: @border;
  border-radius: 2px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    width: 100%;
  }
}

.meme-panel__circles {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  @media screen and (max-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding: 0 30px;
  }
}

.meme-panel__result {
  padding: 0px 30px 10px;
  width: auto;
  display: block;
  // background: #fafafa;
  box-sizing: border-box;
  @media screen and (max-width: 600px) {
    padding: 6px 15px;
  }
}

.meme-panel_inputwrapper {
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // * {
    // margin-right: 5px;
  // }
  input {
    width: calc(~'100% - 40px');
    display: inline-block;
  }
  & span { width: 200px; }
}

.input_status {
  visibility: hidden;
  opacity: 0;
  width: 200px;
  transition: visibility 150ms linear, opacity 150ms linear;
  letter-spacing: -0.2px;
  font-weight: 600;

}

.input_status_visible {
  visibility: visible;
  transition: visibility 150ms linear, opacity 150ms linear;
  opacity: 1;
  width: 200px;
  letter-spacing: -0.2px;
  font-weight: 600;
}

.meme-panel_picwrapper {
  width: auto;
  height: auto;
  margin: 0 0 10px;
  padding: 5px 30px 30px;
  & img {
    box-shadow: 0 3px 12px rgba(17, 17, 17, 0.8);
  }
}

.btn-circle {
  background: transparent;
  // min-width: 0;
  // max-width: 60px !important;
  width: 60px;
  height: 60px;
  // height: auto;
  border: none;
  outline: none;
  padding: 0;
  // background-color: #2f2f2f;
  // border-radius: 50%;
  margin: 2px;
  text-align: center;
  & span {
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    padding: 13px;
    border-radius: 50%;
    text-align: center;
  }
  &:hover {
    outline: none;
    border: none;
    opacity: 0.8;
    box-shadow: none;
  }
}

.circle-bird {
  background-color: #00a3ea;
}

.circle-zucc {
   background-color: #334f8d;
}

.circle-gminus {
   background-color: #d84132;
}

.circle-vpashe {
   background-color: #3d5b83;
}

.circle-odnoglaziki {
   background-color: #f0660f;
}

