{
  "presets": [["env", {
    "targets": {
      "browsers": ["last 2 versions", "Firefox ESR", "ie <= 11"],
      "node": "current"
    }
  }], "stage-2", "react"],
  "plugins": [
    "transform-react-display-name",
    [
      "transform-runtime",
      { "polyfill": false, "regenerator": true }
    ]
  ]
}
