@import '../styles/colors.less';

input[type="checkbox"] {
  display: none;
}

.checkbox--disabled {
  color: @dark-grey;
}


.button-toggle {
  color: @dark-grey;
  transition: color ease-in-out 60ms;
  box-shadow: inset 0 -1px @light-grey;
  padding: 3px 3px 3px 10px;
  // margin-left: 3px;
  @media screen and (min-width: 600px) and (max-width: 900px)  {
    padding: 4px;
  }
  @media screen and (max-width: 600px) {
    padding: 10px 4px;
  }
  &:hover {
    background-color: #ccc;
  }
}

.button-toggle__checked {
  color: black;
  font-weight: 700;
}

