@import './styles/colors.less';

.language-setup {
  position: fixed;
  display: flex;
  padding: 8px;
  background-color: #fafafa;
  min-width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  align-content: center;
  max-height: 90%;
  overflow: auto;
  border: @border;
}

.lang-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.language-search {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid @border;
  border-radius: 2px;
  background-color: #fafafa;
  bottom: 10px;
  left: 20px;
  // width: 50%;
  height: 60px;
  @media screen and (max-width: 600px) {
    width: 90%;
    left: 5%;
  }
}

.language-bread {
  position: fixed;
  display: flex;
  width: 350px;
  flex-wrap: wrap-reverse;
  bottom: 100px;
  left: 20px;
  @media screen and (max-width: 600px) {
    width: 90%;
    left: 5%;
  }
}

.button-tag {
  background-color: #f0f8fa;
  color: @black;
  min-width: 50px;
  max-width: none;
  font-size: 12px;
  padding: 2px 3px;
  height: 25px;
  border: 1px solid @border;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
  &:hover {
    border: 1px solid @main-blue;
    color: @dark-grey;
  }

}

.button-tag__close {
  margin-bottom:  0;
  margin-left: 3px;

}
